// sub2-main-visual
.sub2-main-visual {
  //   background: url(../../images/sub2-donation-page/mainVisual-mob.png) no-repeat
  //     0 0;
  //   background-size: 360px auto;
  background: url(../../images/sub2-donation-page/sect1-main-visual/bg-mob.png)
    no-repeat 100% 0 / cover;
  width: 100%;
  height: 465px;
  .txt {
    height: 425px;
    padding: 200px 20px 97px;
  }
  @media screen and (min-width: 1280px) {
    .txt {
      height: 30.105vw;
      padding: 15.417vw 54.583vw 7.396vw 16.667vw;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
  }
  .tit {
    @include mob-tit(35px, $white);
  }
  @media screen and (min-width: 1280px) {
    .tit {
      @include web-tit(2.5vw, $white);
    }
  }
  .content {
    width: 295px;
    margin-top: 12px;
    word-wrap: normal;
    word-break: keep-all;
    @include mob-bd(16px, $white);
  }
  @media screen and (min-width: 1280px) {
    .content {
      width: 28.75vw;
      height: 2.708vw;
      @include web-bd(1.042vw, $white);
      line-height: 1.4;
    }
  }
  .sidebar {
    height: 40px;
    background: linear-gradient(to right, #bcd8de, #dfddd7);
    .outer-content {
      display: flex;
      height: 40px;
      width: 100%;
      align-items: center;
      justify-content: space-between;

      .outer-content-txt {
        @include mob-bd(14px, $txtTit);
        font-weight: 600;
        &:after {
          content: "";
        }
      }
      .expand-more {
        color: $txtTit;
      }
    }
    .btn-primary {
      background-color: linear-gradient(to right, #bcd8de, #dfddd7) !important;
      --bs-btn-color: #fff;
      --bs-btn-bg: rgba(13, 110, 253, 0);
      --bs-btn-border-color: rgba(13, 110, 253, 0);
      --bs-btn-hover-color: #fff;
      --bs-btn-hover-bg: rgba(11, 94, 215, 0);
      --bs-btn-hover-border-color: rgba(10, 88, 202, 0);
      --bs-btn-focus-shadow-rgb: 49, 132, 253;
      --bs-btn-active-color: #fff;
      --bs-btn-active-bg: rgba(10, 88, 205, 0);
      --bs-btn-active-border-color: rgba(10, 83, 190, 0);
      --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
      --bs-btn-disabled-color: #fff;
      --bs-btn-disabled-bg: rgba(13, 110, 253, 0);
      --bs-btn-disabled-border-color: rgba(13, 110, 253, 0);
    }
    .btn {
      &:hover {
        background-color: linear-gradient(
          to right,
          #bcd8de,
          #dfddd7
        ) !important;
      }
    }
    .inner-content-txt {
      display: flex;
      justify-content: center;
      width: 100%;
      height: 100%;
      @include mob-bd(14px, $txtCont-2);
    }
  }
  .sidebar-web {
    display: none;
  }
  @media screen and (min-width: 1280px) {
    .sidebar {
      display: none;
    }
    .sidebar-web {
      display: block;
      width: 100%;
      max-height: 80px;
      height: 4.18vw;
      padding-left: 16.719vw;
      background-color: $white;
      .wrapper {
        // width: 45.104vw;
        // max-width: 866px;
        width: 55.227vw;
        max-width: 1060.36px;
        height: 100%;
        display: flex;
        // justify-content: space-between;
        // align-items: center;
      }
      .list-sidebar {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        // flex-basis: 0;
        // margin: 18px 0;
        &.active {
          .sidebar-cont {
            @include web-bd(0.833vw, $white);
            font-weight: 700;
            background-color: $bgcBk;
            border-radius: 2.604vw;
          }
        }
      }
      .sidebar-cont {
        // height: 100%;
        width: 7.89vw;
        padding: 0.625vw 1.302vw;
        display: flex;
        align-items: center;
        justify-content: center;
        @include web-bd(0.833vw, $txtCont-2);
        transition: color 0.4s;
      }
    }
  }
}
@media screen and (min-width: 1280px) {
  .sub2-main-visual {
    height: 34.219vw;
    max-height: 578px;
    background-position: 70% 30%;
    background-size: 150%;
  }
}
// about-reasons
.about-reasons {
  padding: 95px 0 50px;
  .container-about-reason {
    height: 100%;
  }
  .tit {
    @include mob-tit(26px, $txtTit);
    line-height: 30px;
    letter-spacing: -2px;
    padding: 0 20px;
    .highlight {
      color: $primary;
    }
  }
  @media screen and (min-width: 1280px) {
    .tit {
      @include web-tit(2.5vw, $txtTit);
    }
  }
  .cont {
    height: 438px;
  }
  @media screen and (min-width: 1280px) {
    .cont {
      height: 100%;
      display: flex;
      justify-content: space-between;
      position: relative;
    }
    .cont-container {
      padding-bottom: 200px;
    }
  }
  .cont-txt {
    padding: 0 20px;
  }
  @media screen and (min-width: 1280px) {
    .cont-txt {
      // margin-top: 95px;
      // margin-top: 4.948vw;
      margin-top: 6.719vw;
      padding: 0;
    }
    .cont-txt-1 {
      order: 2;
    }
    .pic-cont-1 {
      order: 1;
    }
    .cont-txt-3 {
      order: 2;
    }
    .pic-cont-3 {
      order: 1;
    }
  }
  .cont-tit {
    @include mob-tit(20px, $primary);
    letter-spacing: -1px;
  }
  .cont-tit-2-web {
    display: none;
  }
  @media screen and (min-width: 1280px) {
    .cont-tit {
      @include web-tit(2.5vw, $txtTit-2);
    }
    .cont-tit-1 {
      width: 14.583vw;
      word-break: keep-all;
    }
    .cont-tit-2 {
      display: none;
    }
    .cont-tit-2-web {
      display: block;
      width: 15.625vw;
      word-break: keep-all;
    }
    .cont-tit-3 {
      width: 12.5vw;
      word-break: keep-all;
    }
  }
  .cont-desc {
    @include mob-bd(14px, $gray-600);
    margin-top: 17px;
    letter-spacing: normal;
  }
  @media screen and (min-width: 1280px) {
    .cont-desc {
      @include web-bd(0.938vw, $gray-500);
    }
  }
  .cont-1 {
    margin-top: 25px;
  }
  @media screen and (min-width: 1280px) {
    .cont-1 {
      margin-top: 0;
    }
  }
  .cont-2,
  .cont-3 {
    margin-top: 100px;
  }
  .pic {
    height: 288px;
    margin-top: 55px;
  }
  @media screen and (min-width: 1280px) {
    .pic {
      width: 43.75vw;
      height: 27.448vw;
      margin-top: 4.271vw;
      border-radius: 10px;
    }
  }
  .pic-cont-1 {
    background: url(../../images/sub2-donation-page/sect2-about-reasons/1-fst-pic.png)
      no-repeat 50% 100% / cover;
  }
  @media screen and (min-width: 1280px) {
    .pic-cont-1 {
      background-position: 50% 70%;
    }
  }
  .pic-cont-2 {
    background: url(../../images/sub2-donation-page/sect2-about-reasons/2-snd-pic.png)
      no-repeat 50% 0 / cover;
  }
  .pic-cont-3 {
    background: url(../../images/sub2-donation-page/sect2-about-reasons/3-trd-pic.jpg)
      no-repeat 30% 0 / cover;
  }
  .bg-deco {
    display: none;
  }
  @media screen and (min-width: 1280px) {
    .bg-deco {
      display: block;
      position: absolute;
      z-index: -1;
    }
    .bg-deco-1 {
      height: 100%;
      width: 100%;
    }
    .bg-deco-1-1 {
      position: absolute;
      // top: 1.875vw;
      // top: -2.125vw;
      right: -7.604vw;
      width: 40%;
      opacity: 0.6;
    }
    .bg-deco-1-2 {
      display: none;
      position: absolute;
      top: 340px;
      right: -103px;
      width: 8%;
      opacity: 0.6;
    }
    .bg-deco-2 {
      height: 100%;
      width: 100%;
      top: 0.729vw;
      left: -11.719vw;
    }
    .bg-deco-2-1 {
      display: none;
      width: 30%;
      opacity: 0.5;
    }
    .bg-deco-2-2 {
      // display: none;
      position: absolute;
      width: 4.5%;
      top: 4vw;
      left: 16.552vw;
      animation: bg-deco-2-2-animation infinite ease-in-out;
    }
    @keyframes bg-deco-2-2-animation {
      0% {
        transform: rotate(-360deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
    .bg-deco-2-3 {
      position: absolute;
      width: 45%;
      top: 21.875vw;
      left: -10.125vw;
      transform: rotate(175deg);
      opacity: 0.7;
    }
    .bg-deco-3 {
      top: 3.438vw;
      right: -54.698vw;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
    .bg-deco-3-1 {
      display: none;
      position: absolute;
      width: 130%;
      transform: rotate(170deg);
      right: 17px;
      top: 82px;
    }
    .bg-deco-3-2 {
      width: 3.646vw;
    }
  }
}
@media screen and (min-width: 1280px) {
  .about-reasons {
    padding: 10.417vw 16.667vw;
  }
}
// donation-usage
.donation-usage {
  padding: 50px 20px;
  .tit {
    @include mob-tit(26px, $txtTit);
    line-height: 31px;
    margin-bottom: 55px;
    .highlight {
      color: $primary;
    }
  }
  .tit-web {
    display: none;
  }
  @media screen and (min-width: 1280px) {
    .tit {
      display: none;
    }
    .tit-web {
      display: block;
      @include web-tit(2.5vw, $txtTit);
      .highlight {
        color: $primary;
      }
    }
  }
  .swiper-donation-usage {
    padding-bottom: 40px;
    .cont-tit {
      display: block;
      @include mob-tit(20px, $primary);
      margin-bottom: 14px;
    }
    .cont-desc {
      @include mob-bd(14px, $gray-600);
      letter-spacing: normal;
    }
    .cont-img {
      border-radius: 10px;
      margin-bottom: 50px;
      height: 350px;
    }
    .cont-img-1 {
      background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.2) 0%,
          rgba(0, 0, 0, 0.2) 100%
        ),
        url(../../images/sub2-donation-page/sect3-sponsorship-usage/1-dog.png)
          no-repeat 50% 0 / cover;
    }
    .cont-img-2 {
      background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.2) 0%,
          rgba(0, 0, 0, 0.2) 100%
        ),
        url(../../images/sub2-donation-page/sect3-sponsorship-usage/2-oncenter.png)
          no-repeat 50% 0 / cover;
    }
    .cont-img-3 {
      background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.2) 0%,
          rgba(0, 0, 0, 0.2) 100%
        ),
        url(../../images/sub2-donation-page/sect3-sponsorship-usage/3-bear.png)
          no-repeat 50% 50% / cover;
    }
    .cont-img-4 {
      background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.2) 0%,
          rgba(0, 0, 0, 0.4) 100%
        ),
        url(../../images/sub2-donation-page/sect3-sponsorship-usage/4-chicken.jpg)
          no-repeat 50% 50% / cover;
    }
    .cont-img-5 {
      background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.2) 0%,
          rgba(0, 0, 0, 0.2) 100%
        ),
        url(../../images/sub2-donation-page/sect3-sponsorship-usage/5-protect.png)
          no-repeat 50% 50% / cover;
    }
    .swiper-pagination {
      bottom: 5px !important;
      position: absolute;
      // top: 0;
    }
    .swiper-btn {
      display: none;
    }
    .swiper-pagination-bullet-active {
      background: $primary;
    }
  }
  @media screen and (min-width: 1280px) {
    .swiper-donation-usage {
      display: none;
    }
  }
  .glide-donation-usage-web {
    display: none;
  }
  @media screen and (min-width: 1280px) {
    .glide-donation-usage-web {
      display: flex;
      // margin-left: 460px;
      margin-top: 6.51vw;
      margin-left: 17.292vw;
      overflow: hidden;
      .glide__track {
        flex-grow: 1;
        flex-basis: 61.833vw;
        overflow: hidden;
        order: 2;
        .glide__slides {
          display: flex;
          width: 145.833vw !important;
          overflow: hidden;
          // gap: 20px;
          .glide__slide {
            width: 26.875vw !important;
            height: 28.75vw;
            // margin: 5px !important;
          }
          .glide__slide--active {
            opacity: 1;
          }
        }
        .cont-img {
          opacity: 0.3;
          border-radius: 10px;
          margin-bottom: 2.604vw;
          margin: 0 0.521vw !important;
          transition: opacity 0.1s;
        }
        .cont-img-1 {
          background: linear-gradient(
              0deg,
              rgba(0, 0, 0, 0.2) 0%,
              rgba(0, 0, 0, 0.2) 100%
            ),
            url(../../images/sub2-donation-page/sect3-sponsorship-usage/1-dog.png)
              no-repeat 10% 50% / cover;
        }
        .cont-img-2 {
          background: linear-gradient(
              0deg,
              rgba(0, 0, 0, 0.2) 0%,
              rgba(0, 0, 0, 0.2) 100%
            ),
            url(../../images/sub2-donation-page/sect3-sponsorship-usage/2-oncenter.png)
              no-repeat 50% 0 / cover;
        }
        .cont-img-3 {
          background: linear-gradient(
              0deg,
              rgba(0, 0, 0, 0.2) 0%,
              rgba(0, 0, 0, 0.2) 100%
            ),
            url(../../images/sub2-donation-page/sect3-sponsorship-usage/3-bear.png)
              no-repeat 50% 50% / cover;
        }
        .cont-img-4 {
          background: linear-gradient(
              0deg,
              rgba(0, 0, 0, 0.4) 0%,
              rgba(0, 0, 0, 0.2) 100%
            ),
            url(../../images/sub2-donation-page/sect3-sponsorship-usage/4-chicken.jpg)
              no-repeat 50% 50% / cover;
        }
        .cont-img-5 {
          background: linear-gradient(
              0deg,
              rgba(0, 0, 0, 0.2) 0%,
              rgba(0, 0, 0, 0.2) 100%
            ),
            url(../../images/sub2-donation-page/sect3-sponsorship-usage/5-protect.png)
              no-repeat 50% 50% / cover;
        }
      }
      .glide__arrows {
        flex-grow: 1;
        flex-basis: 340px;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        margin-bottom: 20px;
        .glide__arrow--left {
          display: block;
          width: 48px;
          height: 48px;
          &:after {
            // display: block;
            content: "\f104";
            font-family: "Line Awesome Free";
            font-weight: 900;
            font-size: 24px;
            color: $primary;
          }
        }
        .glide__arrow--right {
          display: block;
          width: 48px;
          height: 48px;
          &:after {
            // display: block;
            content: "\f105";
            font-family: "Line Awesome Free";
            font-weight: 900;
            font-size: 24px;
            color: $primary;
          }
        }
      }
    }
  }
  .cont-txt-wrap-web {
    display: none;
  }
  @media screen and (min-width: 1280px) {
    .cont-txt-wrap-web {
      display: block;
      position: relative;
      top: -24.219vw;
      .cont-txt {
        position: absolute;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s, visibility 0.3s;
        &.active {
          opacity: 1;
          visibility: visible;
        }
      }
      .cont-tit {
        display: block;
        @include web-tit(2.083vw, $primary);
        margin-bottom: 0.625vw;
      }
      .cont-desc {
        @include web-bd(0.938vw, $txtCont-2);
        line-height: 1.5;
      }
    }
  }
  .bg-deco {
    display: none;
  }
  @media screen and (min-width: 1280px) {
    .bg-deco {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
    }
    .bg-deco-1 {
      position: absolute;
      width: 5%;
      top: -10.448vw;
      left: 7.969vw;
    }
  }
}
@media screen and (min-width: 1280px) {
  .donation-usage {
    padding: 10.417vw 0 10.417vw 16.667vw;
    position: relative;
  }
}
// q&a
.q-and-a {
  // background: url(../../images/sub2-donation-page/mainSec3-mob.png) no-repeat
  //   50% 0;
  padding: 50px 20px;
  .tit {
    @include mob-tit(30px, $txtTit);
    letter-spacing: -0.9px;
    padding-bottom: 39px;
  }
  @media screen and (min-width: 1280px) {
    .tit {
      @include web-tit(2.5vw, $txtTit);
      padding-bottom: 0;
    }
  }
  .glide-q-and-a {
    height: auto;
    overflow: hidden;
  }
  @media screen and (min-width: 1280px) {
    .glide-q-and-a {
      width: 77.083vw;
      margin-top: 2vw;
      overflow: visible;
    }
  }
  .glide__slides {
    display: flex;
    // gap: 12px;
  }
  @media screen and (min-width: 1280px) {
    .glide__slides {
      width: 119.792vw !important;
      height: 39.063vw;
      justify-content: center;
      align-items: center;
      overflow: hidden;
    }
    .glide__slide {
      width: 21.875vw !important;
      margin: 0 30px 0 0 !important;
      overflow: hidden;
      // margin-left: 0 30px !important;
    }
  }
  .card {
    position: relative;
    width: 320px;
    height: 480px;
    // --bs-card-bg: rgba(rgb(15, 109, 205, 1))
    background-color: $point;
    border: none;
    border-radius: 10px;
  }
  @media screen and (min-width: 1280px) {
    .card {
      width: 21.875vw;
      height: 31.979vw;
    }
  }
  .card-txt {
    height: auto;
    padding: 0 24px;
  }
  @media screen and (min-width: 1280px) {
    .card-txt {
      padding: 2.604vw;
    }
  }
  .card-tit {
    display: block;
    @include mob-tit(20px, $white);
    letter-spacing: -0.9px;
    line-height: normal;
    padding-top: 92px;
    padding-left: 9px;
  }
  @media screen and (min-width: 1280px) {
    .card-tit {
      @include web-tit(1.25vw, $white);
      line-height: 1.5;
      padding-left: 0;
      padding-top: 4.01vw;
    }
  }
  .card-desc {
    display: flex;
    flex-direction: column;
    gap: 20px;
    @include mob-bd(14px, $white);
    padding-top: 23px;
    letter-spacing: normal;
  }
  @media screen and (min-width: 1280px) {
    .card-desc {
      @include web-bd(0.781vw, $white);
      line-height: 1.5;
      font-weight: 400;
    }
  }
  .card-tag {
    position: absolute;
    top: 0;
    right: 10px;
    width: 56px;
    height: 91px;
    display: flex;
    justify-content: center;
    background: url(../../images/sub2-donation-page/sect4-q&a/tag.png) no-repeat
      50% 0 / cover;
  }
  @media screen and (min-width: 1280px) {
    .card-tag {
      right: 1.354vw;
      width: 3.333vw;
      height: 6.146vw;
    }
  }
  .tag-txt {
    @include mob-tit(30px, $gray-700);
    font-family: $font-family-enNum;
    padding-top: 10px;
    height: auto;
  }
  @media screen and (min-width: 1280px) {
    .tag-txt {
      @include web-tit(1.563vw, $gray-700);
    }
  }
  .card-illust {
    position: absolute;
    bottom: 16px;
    height: 110px;
    transform: translateX(calc(320px / 2 + -50%));
  }
  @media screen and (min-width: 1280px) {
    .card-illust {
      width: 3.333vw;
      width: 9.167vw;
      height: auto;
      transform: translateX(calc(21.875vw / 2 + -50%));
    }
    .card-3-illust-box,
    .card-4-illust-box,
    .card-5-illust-box {
      width: 11.719vw;
    }
  }
  .card-1-illust,
  .card-2-illust,
  .card-3-illust,
  .card-4-illust,
  .card-5-illust {
    width: 100%;
    height: 100%;
  }
  .glide__bullets {
    display: flex;
    gap: 7px;
    padding-top: 25px;
    padding-left: 114px;
    .glide__bullet {
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: $gray-300;
      transition: all 0.3s;
    }
    .glide__bullet--active {
      width: 30px;
      height: 6px;
      border-radius: 6px;
      background-color: $gray-800;
    }
  }
  .glide__button {
    display: none;
  }
  @media screen and (min-width: 1280px) {
    .glide__bullets {
      display: none;
    }
    .glide__button {
      display: block;
      transform: translate(50%, -90%);
    }
    .prev-icon,
    .next-icon {
      font-size: 55px;
      color: $secondary;
    }
    .prev {
      transform: translateX(-1000%);
    }
    .next {
      transform: translateX(590%);
    }
  }
  .front-web {
    display: none;
  }
  @media screen and (min-width: 1280px) {
    .list-card {
      position: relative;
      width: 21.875vw !important;
      height: 38.49vw;
      perspective: 1500px;
      display: flex;
      align-items: center;
    }
    .card {
      position: relative;
      width: 100%;
      // height: 100%;
      transform-style: preserve-3d;
      transition: transform 0.9s;
      // transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
      cursor: pointer;
    }
    .back,
    .front-web {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
    }
    .front-web {
      display: flex;
      background-color: $secondary;
      border-radius: 10px;
      padding-top: 4.063vw;
      .card-txt-front {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
      }
      .tag-txt-front {
        @include web-tit(2.5vw, $white);
        font-family: $font-family-enNum;
        font-weight: 500;
        margin-bottom: 2.865vw;
      }
      .card-tit-front {
        @include web-bd(1.25vw, $white);
        font-weight: 700;
      }
      .card-3-illust-box,
      .card-4-illust-box,
      .card-5-illust-box {
        width: 11.719vw;
      }
      &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0.625vw;
        left: 0.625vw;
        width: calc(100% - 1.25vw);
        height: calc(100% - 1.25vw);
        border: 1px solid $sub-1;
      }
    }
    .back {
      transform: rotateY(180deg);
    }
    .flipped {
      transform: rotateY(180deg);
    }
  }
  .bg-deco-box {
    display: none;
  }
  @media screen and (min-width: 1280px) {
    .bg-deco-box {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 1000px;
      z-index: -1;
    }
    .bg-deco-el {
      position: absolute;
      top: -344px;
      left: 11px;
      width: 30%;
      height: 100%;
    }
    .bg-deco-1 {
      width: 5%;
      top: -602px;
      left: 255px;
    }
  }
}
@media screen and (min-width: 1280px) {
  .q-and-a {
    padding: 10.417vw 16.667vw;
    position: relative;
    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 23.542vw;
      left: 8.229vw;
      width: 90%;
      height: 50%;
      background: url(../../images/sub2-donation-page/sect4-q&a/bg-deco.png)
        no-repeat 50% 0 / 100%;
    }
  }
}
// financial-report
.financial-report {
  background: url(../../images/sub2-donation-page/sect5-financial-report/bg-deco.png)
      no-repeat 50% 50% / cover,
    #ad5700;
  height: 333px;
  padding: 71px 20px 54px;

  .cont-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @media screen and (min-width: 1280px) {
    .container-financial-report {
      width: 100%;
      height: 100%;
    }
    .cont-txt {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
    }
  }
  .cont-tit {
    text-align: center;
    @include mob-tit(26px, $white);
    letter-spacing: -1px;
    line-height: 33.5px;
  }
  @media screen and (min-width: 1280px) {
    .cont-tit {
      @include web-tit(2.5vw, $white);
      margin-bottom: 1.042vw;
    }
  }
  .cont-desc {
    text-align: center;
    padding-top: 15px;
    @include mob-bd(14px, rgba(255, 255, 255, 0.7));
    letter-spacing: normal;
  }
  .cont-desc-web {
    display: none;
  }
  @media screen and (min-width: 1280px) {
    .cont-desc {
      display: none;
    }
    .cont-desc-web {
      display: block;
      @include web-bd(1.25vw, $sub-2);
      text-align: center;
    }
  }
  .btn-more {
    display: flex;
    width: 179px;
    height: 37px;
    margin-top: 24px;
    justify-content: center;
    align-items: center;
    // text-align: center;
    // padding-top: calc(37px / 2);
    background-color: $white;
    border-radius: 37px;
    @include mob-bd(14px, $gray-700);
  }
  @media screen and (min-width: 1280px) {
    .btn-more {
      @include web-bd(0.938vw, $gray-700);
      margin-top: 2.083vw;
      padding: 0.521vw 2.344vw;
      height: auto;
      width: auto;
    }
  }
}
@media screen and (min-width: 1280px) {
  .financial-report {
    height: 30.885vw;
    background: url(../../images/sub2-donation-page/sect5-financial-report/bg-deco-web.png)
        no-repeat 50% 50% / cover,
      #ad5700;
  }
}
