// sub1-main-visual
.sub1-main-visual {
  background: url(../../images/sub1-mission-vision-page/main-visual/bg-mob.png)
    no-repeat 100% 0 / cover;
}

// mission-vision
.mission-vision {
  overflow: hidden;
  .wrapper-mission-vision {
    position: relative;
  }
  .bg-deco {
    width: 100%;
    height: 82px;
    margin-left: 59px;
    margin-bottom: 46px;
    background-color: rgba(255, 101, 0, 0.7);
    .logo-bg-deco {
      display: block;
      width: auto;
      height: 84.647px;
      padding-left: 17px;
    }
  }
  @media screen and (min-width: 768px) {
    .bg-deco {
      height: 12.448vw;
      width: auto;
      margin-left: 10.729vw;
      margin-bottom: 4.688vw;
      .logo-bg-deco {
        height: 100%;
        transform: translateY(0.417vw);
        padding-left: 1.563vw;
      }
    }
  }
  .cont-txt {
    display: flex;
    flex-direction: column;
    gap: 12px;
    @include mob-bd(14px, $txtCont-2);
    .highlight {
      display: block;
      @include mob-tit(20px, $txtTit);
      padding-bottom: 3px;
      letter-spacing: normal;
    }
  }
  .cont-txt-web {
    display: none;
  }
  @media screen and (min-width: 768px) {
    .cont-txt {
      display: none;
    }
    .cont-txt-web {
      display: flex;
      align-items: center;
      @include web-bd(14px, $txtCont-2);
      line-height: 1.5;
      .highlight {
        display: block;
        @include web-bd(30px, $txtTit);
        font-weight: 700;
        margin-right: 1.875vw;
      }
    }
  }
  @media screen and (min-width: 1024px) {
    .cont-txt-web {
      @include web-bd(16px, $txtCont-2);
      .highlight {
        @include web-bd(36px, $txtTit);
        font-weight: 700;
      }
    }
  }
  @media screen and (min-width: 1280px) {
    .cont-txt-web {
      @include web-bd(18px, $txtCont-2);
      .highlight {
        @include web-bd(40px, $txtTit);
        font-weight: 700;
      }
    }
  }
}

// core-value
.core-value {
  height: 200%;
  // padding: 56px 20px 0;
  position: relative;
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 49%;
    background: url(../../images/sub1-mission-vision-page/sect2-core-value/bg.jpg)
      no-repeat 50% 50% / cover;
    z-index: -1;
  }
  .wrapper {
    height: 100%;
  }
  .wrapper-inner {
    display: flex;
  }
  @media screen and (min-width: 768px) {
    .wrapper {
      height: 100%;
      width: 100%;
      padding-top: 14.844vw;
      //   position: relative;
    }
    .wrapper-inner {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      //   position: absolute;
      //   top: 14.844vw;
      //   left: 0;
    }
  }
  .tit-box {
    width: fit-content;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sub-tit {
    @include mob-bd(14px, $gray-600);
    font-family: $font-family-enNum;
    font-weight: 400;
    letter-spacing: 2.66px;
  }
  @media screen and (min-width: 768px) {
    .tit-box {
      display: flex;
      flex-direction: column;
      width: 100%;
      flex: 1;
    }
    .sub-tit {
      width: auto;
      height: auto;
      @include web-bd(22px, $txtCont-2);
      font-family: $font-family-enNum;
      letter-spacing: normal;
      text-align: center;
    }
  }
  @media screen and (min-width: 1024px) {
    .sub-tit {
      @include web-bd(24px, $txtCont-2);
    }
  }
  .tit {
    @include mob-tit(30px, $txtTit);
    letter-spacing: normal;
    line-height: 35px;
    width: fit-content;
  }
  @media screen and (min-width: 768px) {
    .tit {
      width: auto;
      height: auto;
      @include web-tit(36px, $txtTit);
      text-align: center;
    }
  }
  @media screen and (min-width: 1024px) {
    .tit {
      @include web-tit(40px, $txtTit);
    }
  }
  .content-wrap {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .content {
    display: flex;
    height: 159px;
    // width: 100%;
    // padding-left: 51%;
    margin-bottom: 6.7%;
    flex-direction: column;
    justify-content: center;
  }

  @media screen and (min-width: 768px) {
    .content-wrap {
      position: relative;
      // width: 100%;
      height: 100vh;
      margin-left: 0;
      // height: 300px;
      // height: 100%;
      .pin-spacer {
        inset: 0 0 !important;
      }
    }
    .content {
      width: 100%;
      position: absolute !important;
      top: 0 !important;
      left: 0 !important;
      margin-bottom: 0;
      // padding-left: 51% !important;
      transform: translateX(calc(960px / 2 + -50%));
      justify-content: normal;
      overflow: hidden;
      height: 500px;
      transform: translate(0, 0) !important;
      // height: auto;
      // height: 100vh;
      // height: 300vh;
      // display: none;
      // width: 21.51vw;
      // height: 18.594vw;
      // padding-left: 5.208vw;
    }
    #text {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 300px;
    }
  }
  .content-tit {
    @include mob-tit(16px, $gray-700);
  }
  .content-tit-web {
    display: none;
  }
  @media screen and (min-width: 768px) {
    .content-tit {
      display: none;
    }
    .content-tit-web {
      display: block;
      @include web-tit(28px, $txtTit-2);
      line-height: 1.3;
      margin-bottom: 0.521vw;
    }
  }
  @media screen and (min-width: 1024px) {
    .content-tit-web {
      @include web-tit(32px, $txtTit-2);
    }
  }
  .content-desc {
    @include mob-bd(12px, $gray-600);
  }
  @media screen and (min-width: 768px) {
    .content-desc {
      @include web-bd(14px, $txtCont-2);
      line-height: 1.5;
    }
  }
  @media screen and (min-width: 1024px) {
    .content-desc {
      @include web-bd(16px, $txtCont-2);
      line-height: 1.5;
    }
  }
}
@media screen and (min-width: 768px) {
  .core-value {
    height: 100vh;
    padding: 0;
    // padding: 14.896vw 16.667vw;
    // overflow: auto;
    &:before {
      top: 0;
      left: 0;
      background-attachment: fixed;
      background-size: cover;
      height: 100%;
      // left: -16.667vw;
      // left: 0;
      // width: calc(56% + 16.667vw);
      // transform: scale(1) translateX(-11.979vw);
      // transform: scale(1) translateX(-1.979vw);
      // width: 50%;
    }
  }
}
// project-initiative
.project-initiative {
  // background: url(../../images/sub1-mission-vision-page/mainSec3-mob.png)
  //   no-repeat 0 0;
  padding: 60px 20px 0;
  .cont {
    position: relative;
    margin-bottom: 32vh;
  }
  @media screen and (min-width: 1024px) {
    .wrapper {
      width: 800vw !important;
      max-width: 800vw !important;
      // height: 62.5vw !important;
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      overscroll-behavior: none;
    }
    .cont {
      width: 100vw;
      margin-bottom: 0px;
      // height: 62.5vw;
      // padding: 10.417vw 16.667vw;
      // position: sticky;
    }
  }
  .cont-tit {
    @include mob-tit(30px, $txtTit);
  }
  @media screen and (min-width: 768px) {
    .cont-tit {
      @include web-tit(36px, $txtTit);
      margin-bottom: 5.208vw;
      line-height: 1.2;
    }
  }
  @media screen and (min-width: 1024px) {
    .cont-tit {
      @include web-tit(38px, $txtTit);
      margin-bottom: 60px;
      line-height: 1.2;
    }
  }
  .cont-desc {
    display: flex;
    flex-direction: column;
    gap: 15px;
    @include mob-bd(12px, $txtCont-2);
    margin-top: 30px;
    word-break: keep-all;
  }
  @media screen and (min-width: 768px) {
    .cont-desc {
      @include web-bd(14px, $txtCont-2);
      line-height: 1.5;
    }
  }
  @media screen and (min-width: 1024px) {
    .cont-desc {
      @include web-bd(16px, $txtCont-2);
      line-height: 1.5;
    }
  }
  .bg-deco {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  .bg-deco-1 {
    position: absolute;
    top: 0;
    right: 20px;
    width: 134px;
  }
  @media screen and (min-width: 1024px) {
    .bg-deco-1 {
      width: 24.167vw;
      top: 16.042vw;
      right: 30.938vw;
    }
  }
  .bg-deco-2 {
    position: absolute;
    top: 232px;
    left: 0;
    width: 50px;
  }
  @media screen and (min-width: 1024px) {
    .bg-deco-2 {
      width: 5.99vw;
      top: -10.958vw;
      left: 58.938vw;
    }
  }
  .bg-deco-2-web {
    display: none;
  }
  @media screen and (min-width: 1024px) {
    .bg-deco-2-web {
      //   display: block;
      position: absolute;
      width: 28.552vw;
      top: 9.042vw;
      right: -1.667vw;
    }
  }
  .bg-deco-3 {
    position: absolute;
    top: 323px;
    left: -20px;
    width: 140px;
  }
  @media screen and (min-width: 1024px) {
    .bg-deco-3 {
      //   display: block;
      position: absolute;
      width: 21.458vw;
      top: 10.042vw;
      left: 47.24vw;
      transform: rotate(45deg);
    }
  }
  .bg-deco-4 {
    position: absolute;
    top: 232px;
    right: 10px;
    width: 50px;
  }
  @media screen and (min-width: 1024px) {
    .bg-deco-4 {
      width: 5.99vw;
      top: -0.958vw;
      right: 34.938vw;
    }
  }
  .bg-deco-5 {
    position: absolute;
    top: 232px;
    right: -20px;
    width: 176px;
  }
  @media screen and (min-width: 1024px) {
    .bg-deco-5 {
      width: 26.563vw;
      top: 5.042vw;
      right: 34.938vw;
    }
  }
  .bg-deco-6 {
    position: absolute;
    top: 174px;
    right: -20px;
    width: 60px;
  }
  @media screen and (min-width: 1024px) {
    .bg-deco-6 {
      width: 6.5vw;
      top: 0;
      left: 52.938vw;
    }
  }
  .bg-deco-7 {
    position: absolute;
    top: 264px;
    right: -5px;
    width: 115px;
  }
  @media screen and (min-width: 1024px) {
    .bg-deco-7 {
      width: 15.187vw;
      top: -13.958vw;
      right: 103.938vw;
    }
  }
  .bg-deco-8 {
    position: absolute;
    top: 242px;
    left: -20px;
    width: 163px;
  }
  @media screen and (min-width: 1024px) {
    .bg-deco-8 {
      width: 18.521vw;
      top: 15.958vw;
      left: -9vw;
    }
  }
}
@media screen and (min-width: 1024px) {
  .project-initiative {
    padding: 160px 0;
    // margin-top: 100px;
  }
}
