@import "variables", "mixins", "fonts", "reset";

// swiper style
.swiper {
  // height: 100vh;
  overflow: hidden;

  .swiper-slide {
    cursor: pointer;
  }

  .swiper-button-next.swiper-button-disabled,
  .swiper-button-prev.swiper-button-disabled {
    opacity: 1;
  }
}

// layout
.wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
// header
#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $hdH;
  padding: 17px 20px 0;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0);
  // backdrop-filter: blur(10px);
  z-index: 1000;
  // wrapper
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  // @media screen and (min-width: 1280px) {
  //   .wrapper {
  //     position: relative;
  //   }
  // }
  #logo {
    cursor: pointer;
    .logo-link {
      display: block;
      height: 30px;
      width: 110px;
      margin-top: 4px;
      background: url(../../images/comm/logo-white-mob.png) no-repeat 0 0 /
        cover;
    }
    @media screen and (min-width: 1280px) {
      .logo-link {
        width: 11.093vw;
        height: 3.281vw;
        background-size: 100%;
        // transition: all 0.5s;
        &.active {
          background: url(../../images/comm/logo-blue-mob.png) no-repeat 0 0;
          // background-size: contain;
          transform: translateY(1.5px);
          background-size: cover;
        }
      }
    }
  }
  .depth1-web-wrap {
    display: none;
    width: 100%;
  }
  @media screen and (min-width: 1280px) {
    .depth1-web-wrap {
      display: flex;
      justify-content: center;
      height: 100%;
    }
    .depth1-web {
      height: 100%;
      width: 585px;
      display: flex;
      align-items: center;
      transition: all 0.3s ease-in-out;
    }
    .wrapper-dep1-web {
      flex-grow: 1;
      flex-basis: 0;
      height: 100%;
    }
    .li-dep1-web {
      height: 100%;
    }
    .txt-dep1-web {
      display: block;
      height: 100%;
      @include web-bd(18px, $white);
      line-height: 65px;
      text-align: center;
    }
  }
  .depth2-web-wrap {
    display: none;
  }
  @media screen and (min-width: 1280px) {
    .depth2-web-wrap {
      // visibility: hidden;
      // opacity: 0;
      display: flex;
      position: absolute;
      // top: 100px;
      top: 0;
      margin: 0;
      left: -23px;
      right: -23px;
      height: 555px;
      padding: 100px 120px 0;
      backdrop-filter: blur(10px);
      background: rgb(255, 255, 255, 1);
      z-index: -1;
      // z-index: 900;
      // border-top: 1px solid rgba(255, 255, 255, 0.2);
      // background-image: linear-gradient(
      //   to bottom,
      //   rgb(255, 255, 255, 0.7),
      //   rgb(255, 255, 255, 1)
      // );
    }
    .depth2-web-el {
      flex-grow: 1;
      flex-basis: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-right: 1px solid rgba(0, 0, 0, 0.05);
      // border-right: 1px solid rgba(255, 255, 255, 0.2);
    }
    .border-none {
      border: none;
    }
    .wrapper-dep2-web {
      width: 100%;
      text-align: center;
      margin-bottom: 10px;
    }
    .tit-dep2-web-box {
      width: 100%;
      height: 31px;
      margin-top: 50px;
      margin-bottom: 20px;
      text-align: center;
    }
    .tit-dep2-web {
      display: block;
      @include web-bd(20px, $txtTit);
    }
    .li-dep2-web {
      display: block;
      width: 100%;
      height: 28px;
      @include web-bd(16px, $txtCont);
      font-weight: 300;
      line-height: 28px;
      &:hover {
        color: $primary;
        font-weight: 700;
      }
    }
  }
  .nav {
    display: flex;
    gap: 16px;
    width: 77px;
    flex-wrap: nowrap;
  }
  @media screen and (min-width: 1280px) {
    .nav {
      width: 9.166vw;
      gap: 1.458vw;
      justify-content: flex-end;
    }
  }
  .btn-search-icon {
    // transform: rotate(270deg);
    width: 30px;
    height: 30px;
    font-size: 30px;
    font-weight: 300;
    z-index: 1000;

    // &:before {
    //   content: "\f002";
    //   font-family: "Line Awesome Free";
    //   font-weight: 900;
    //   font-size: 30px;
    //   color: #fff;
    // }
    @media screen and (min-width: 1280px) {
      .btn-search-icon {
        font-size: 32px !important;
        font-weight: normal !important;
      }
      // &:before {
      //   font-size: 2.083vw;
      // }
    }
  }
  .btn-menu {
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 1000;
    // &:before {
    //   content: "\f0c9";
    //   font-family: "Line Awesome Free";
    //   font-weight: 900;
    //   font-size: 35px;
    //   color: #fff;
    // }
    &.click {
      .btn-line-middle {
        display: none;
      }
      .btn-line-top {
        transform: rotate(45deg) translate(5px, 6px);
        border-color: #222;
      }
      .btn-line-bottom {
        transform: rotate(-45deg) translate(5px, -7px);
        border-color: #222;
      }
    }
  }
  .btn-line {
    width: 100%;
    border: 1px solid $white;
    border-radius: 1px;
    transition: all 0.2s;
  }
  @media screen and (min-width: 1280px) {
    .btn-menu {
      display: none;
    }
  }
  .btn-lang-web {
    display: none;
  }
  @media screen and (min-width: 1280px) {
    .btn-lang-web {
      display: block;
      .lang-icon {
        color: #fff;
        font-size: 2.083vw;
        font-weight: 300;
      }
    }
  }
  .btn-login-web {
    display: none;
  }
  @media screen and (min-width: 1280px) {
    .btn-login-web {
      display: block;
    }
    .material-symbols-outlined {
      font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 24;
      color: $white;
      font-size: 2.083vw;
    }
  }
  // gnb
  #gnb {
    // display: none;
    // background: url(../../images/main/sidebar_mob.png) no-repeat 50% 0;
    // background-size: 360px auto;
    position: fixed;
    top: 0;
    left: 100vw;
    width: 100%;
    min-height: 100vh;
    // background-color: #222;
    background-color: $white;
    overflow: auto;
    // overflow-y: scroll;
  }
  .top {
    height: 60px;
    padding: 17px 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      &:before {
        display: block;
        height: 30px;
        width: 110px;
        margin-top: 4px;
        content: "";
        background: url(../../images/comm/logo-blue-mob.png) no-repeat 0 0 /
          cover;
      }
    }

    .menu {
      position: relative;
      display: flex;
      align-items: center;
      gap: 19px;
      width: 32px;
      height: 32px;
      transform: translate(-150%, 0px);
      z-index: 10;
    }
    .lang-items {
      width: 100%;
      height: 100%;
    }
    .lang {
      width: 100%;
      height: 100%;
    }
    .lang-icon {
      color: #222;
      font-size: 32px;
      font-weight: 300;
      &:hover {
        color: $primary;
      }
    }
    .select-lang {
      display: none;
      position: absolute;
      top: 40px;
      left: -22px;
      text-align: center;
      @include mob-bd(14px);
      &.active {
        display: block;
      }

      .ko,
      .en {
        display: block;
        width: 76px;
        height: 41px;
        padding: 10px;
        background-color: $white;
        &:hover {
          background-color: $point;
          color: $white;
        }
      }

      .ko {
        border-radius: 10px 10px 0 0;
        font-weight: 700;
        color: $txtCont;
      }

      .en {
        border-radius: 0 0 10px 10px;
        color: $txtCont;
        font-family: $font-family-enNum;
      }
    }
    // .close::before {
    //   content: "\f00d";
    //   font-family: "Line Awesome Free";
    //   font-weight: 900;
    //   font-size: 30px;
    //   color: #fff;
    // }
  }
  .inner-items {
    display: flex;
    justify-content: center;
    height: 84px;
    padding: 12px 20px;
    // background: rgba(51, 51, 51, 0.5);
    background: #f76a00;
    margin-top: 20px;

    .icons {
      display: flex;
      gap: 40px;
      width: 236px;
    }
    .my-page-icon,
    .sponsor-icon,
    .faq-icon {
      width: 52px;
      @include mob_bd(12px, $white);
      text-align: center;
      &:hover {
        color: $txtTit;
        font-weight: 700;
      }
    }
    .my-page-icon::before {
      display: block;
      height: 35px;
      width: 35px;
      content: "";
      background: url(../../images/comm/my-page.png) no-repeat 50% 50% /100%;
      transform: translateX(25%);
      margin-bottom: 5px;
      &:hover {
        box-shadow: 2px 2px 10px $white;
      }
    }
    .sponsor-icon::before {
      display: block;
      height: 35px;
      width: 35px;
      content: "";
      background: url(../../images/comm/sponsorship.png) no-repeat 50% 50% /100%;
      transform: translateX(25%);
      margin-bottom: 5px;
    }
    .faq-icon::before {
      display: block;
      height: 35px;
      width: 35px;
      content: "";
      background: url(../../images/comm/faq.png) no-repeat 50% 50% /100%;
      transform: translateX(25%);
      margin-bottom: 5px;
    }
  }
  .depth1 {
    width: 100%;
    height: 282px;
    margin-top: 60px;
    text-align: center;

    .wrapper-dep1 {
      // height: 47px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      padding: 12px 54px;
    }

    .li-dep1 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 50%;
      @include mob-bd(16px, $txtTit);
      text-align: center;
    }
    .txt-dep1 {
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 700;
      transform: translateX(-50%);
      #text {
        display: block;
        width: 50px;
      }
      .arr-down {
        font-size: 14px;
      }
    }
  }
  .depth2 {
    display: none;
    margin-top: 10px;
    // visibility: hidden;
    // opacity: 0;
    width: 100%;
    padding: 15px 0;
    // overflow: hidden;
    // background: rgb(255, 134, 43, 0.2);
    border-top: 1px solid rgb(255, 134, 43, 0.5);
    // transition: all 0.3s;
    &.active {
      display: block;
      //   visibility: visible;
      //   opacity: 1;
      .txt-dep1 {
        color: $primary;
      }
    }
    .wrapper-dep2 {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 38px;
      &:hover {
        background-color: $secondary;
        .li-dep2 {
          color: $white;
        }
      }
    }
    .li-dep2 {
      @include mob-bd(14px, $txtTit);
    }
  }
}
@media screen and (min-width: 1280px) {
  #header {
    height: 100px;
    padding: 1.823vw 23px 0;
    // position: relative;
    // background: rgb(34, 34, 34, 0);
  }
}
// main
#main {
  flex-grow: 1;
  .sect {
    height: 100vh;
  }
}
// footer
#footer {
  // background: url(../../images/main/mobile-ver2-foooter.png) no-repeat 50% 0 /
  //   cover;
  height: $ftH;
  padding: 60px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 9;
  .logo {
    &:before {
      display: block;
      height: 30px;
      width: 110px;
      margin-top: 4px;
      content: "";
      background: url(../../images/comm/logo-blue-mob.png) no-repeat 0 0 / cover;
    }
    @media screen and (min-width: 1280px) {
      &:before {
        width: 16.406vw;
        height: 5vw;
        background-size: 100%;
        transform: translateY(15%);
      }
    }
  }
  .info {
    margin-top: 11px;
  }
  @media screen and (min-width: 1280px) {
    .info {
      display: flex;
      flex-wrap: wrap;
      width: 45.625vw;
    }
  }
  .item {
    @include mob-bd(12px, #999);
    display: block;
    height: 16px;
    word-break: keep-all;
    margin-bottom: 2px;
    margin-right: 10px;
  }
  @media screen and (min-width: 1280px) {
    .item {
      @include web-bd(16px, $gray-700);
      font-weight: 400;
    }
  }
  .terms {
    @include mob-bd(12px, $txtCont);
  }
  @media screen and (min-width: 1280px) {
    .terms {
      @include web-bd(16px, $gray-700);
      font-weight: 400;
    }
  }
  .bw-bar {
    &:after {
      content: " |";
    }
  }
  .sns {
    display: flex;
  }
  @media screen and (min-width: 1280px) {
    .sns {
      gap: 10px;
    }
  }
  .link {
    display: block;
    width: 40px;
    height: 50px;
    padding: 10px 5px;
  }
  .link_twitter {
    &:before {
      @include footerIconBefore;
      background: url(../../images/comm/twitter-icon.png) no-repeat 50% 0 /
        cover;
    }
    @media screen and (min-width: 1280px) {
      &:before {
        @include footerIconBeforeWeb;
      }
    }
  }
  .link_facebook {
    &:before {
      @include footerIconBefore;
      background: url(../../images/comm/facebook-icon.png) no-repeat 50% 0 /
        cover;
    }
    @media screen and (min-width: 1280px) {
      &:before {
        @include footerIconBeforeWeb;
      }
    }
  }
  .link_instagram {
    &:before {
      @include footerIconBefore;
      background: url(../../images/comm/insta-icon.png) no-repeat 50% 0 / cover;
    }
    @media screen and (min-width: 1280px) {
      &:before {
        @include footerIconBeforeWeb;
      }
    }
  }
  .link_youtube {
    &:before {
      @include footerIconBefore;
      background: url(../../images/comm/youtube-icon.png) no-repeat 50% 0 /
        cover;
    }
    @media screen and (min-width: 1280px) {
      &:before {
        @include footerIconBeforeWeb;
      }
    }
  }
  .copyright {
    @include mob-tit(12px, #999);
    margin-top: 10px;
  }
  @media screen and (min-width: 1280px) {
    .copyright {
      display: none;
    }
  }
  .copyright-web {
    display: none;
  }
  @media screen and (min-width: 1280px) {
    .copyright-web {
      display: block;
      @include web-bd(16px, $gray-700);
      font-weight: 400;
    }
  }
  @media screen and (min-width: 1280px) {
    .content-wrap {
      display: flex;
      flex-direction: column;
      margin-left: 5.468vw;
      gap: 2px;
    }
  }
  #top_btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 42px;
    height: 42px;
    line-height: 46px;
    border: 0px solid rgb(173 87 0 / 50%);
    border-radius: 15px;
    color: #fff;
    text-align: center;
    font-size: 16px;
    z-index: 9;
    background: rgb(173 87 0 / 50%);
    cursor: pointer;
    /* background: rgba(255, 255, 255, 0.5); */
    /* backdrop-filter: blur(20px); */
  }
  #top_btn:hover {
    border-color: #ff862b;
    /* border-color: #3059c7; */
    background: #ff862b;
    /* background: #3059c7; */
    color: #fff;
  }
}
@media screen and (min-width: 1280px) {
  #footer {
    padding: 9.062vw 9.895vw 8.593vw 8.593vw;
    flex-direction: row;
    align-items: center;
  }
}
// search-layer
.search-layer {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  // display: block;
  // background: url(../../images/main/search_mob.png) no-repeat 50% 0 / cover;
  // background-size: 360px auto;
  z-index: 1000;
  background-color: $bgcBk;
  .layer-head {
    padding: 17px 20px 0;
  }
  #logo {
    &:before {
      display: block;
      height: 30px;
      width: 110px;
      margin-top: 4px;
      content: "";
      background: url(../../images/comm/logo-white-mob.png) no-repeat 0 0 /
        cover;
    }
  }
  .layer-body {
    margin-top: 70px;
  }
  .area-search {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 319px;
    padding: 72px 0px;
  }
  .content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: space-between;
    gap: 70px;
    width: 320px;
  }
  .search {
    width: 100%;
    height: 45px;
    margin-top: 10px;
    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 10px;
      left: 33px;
      width: 257px;
      height: 45px;
      background: url(../../images/comm/search.png) no-repeat 0 0 /100%;
    }
    &:before {
      position: absolute;
      top: 10px;
      left: 45px;
      content: "\f002";
      font-family: "Line Awesome Free";
      font-weight: 900;
      font-size: 30px;
      color: $primary;
      transform: rotate(270deg);
      z-index: 10;
    }
  }
  #inpSearch {
    display: block;
    position: absolute;
    top: 10px;
    left: 33px;
    width: 253px;
    height: 45px;
    border-radius: 33px;
    border: 1px solid $white;
    background: $white;
    z-index: 1;
    // opacity: 0;
  }
  .tag {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 6px;
  }
  .link-tag {
    display: block;
    background: $secondary;
    border-radius: 33px;
    padding: 8px 30px;
    @include mob-bd(13px, $white);
  }
  .btn-close {
    position: absolute;
    top: 21px;
    right: 17px;
    &:before {
      content: "\f00d";
      font-family: "Line Awesome Free";
      font-weight: 900;
      font-size: 30px;
      color: #fff;
    }
  }
}

/* -------------------------bg 참고------------------------------ */
body {
  z-index: -100;
  // background: url(../../images/main/main_mob_opa.png) no-repeat 50% 0;
  // background-size: 360px auto;
}

@import "main", "sub1_mission_vision_page", "sub2_donation_page";
