@import "variables", "mixins", "fonts", "reset";

// swiper style
.swiper {
  // height: 100vh;
  overflow: hidden;

  .swiper-slide {
    cursor: pointer;
  }

  .swiper-button-next.swiper-button-disabled,
  .swiper-button-prev.swiper-button-disabled {
    opacity: 1;
  }
}

// layout
.wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}
// header
#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: $hdH;
  padding: 17px 20px 0;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  // wrapper
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #logo {
    &:before {
      display: block;
      height: 30px;
      width: 110px;
      margin-top: 4px;
      content: "";
      background: url(../../images/comm/logo-white-mob.png) no-repeat 0 0 /
        cover;
    }
    @media screen and (min-width: 1280px) {
      &:before {
        width: 11.093vw;
        height: 3.281vw;
        background-size: 100%;
      }
    }
  }
  .depth1-web-wrap {
    display: none;
    width: 100%;
  }
  @media screen and (min-width: 1280px) {
    .depth1-web-wrap {
      display: block;
    }
    .depth1-web {
      display: flex;
      justify-content: center;
      gap: 3.906vw;
      .txt-dep1-web {
        @include web-bd(18px, $white);
      }
    }
    .depth2-web {
      display: none;
    }
  }
  .nav {
    display: flex;
    gap: 16px;
    width: 77px;
    flex-wrap: nowrap;
  }
  @media screen and (min-width: 1280px) {
    .nav {
      width: 9.166vw;
      gap: 1.458vw;
      justify-content: flex-end;
    }
  }
  .btn-search {
    transform: rotate(270deg);
    &:before {
      content: "\f002";
      font-family: "Line Awesome Free";
      font-weight: 900;
      font-size: 30px;
      color: #fff;
    }
    @media screen and (min-width: 1280px) {
      &:before {
        font-size: 2.083vw;
      }
    }
  }
  .btn-menu {
    width: 35px;
    height: 36px;

    &:before {
      content: "\f0c9";
      font-family: "Line Awesome Free";
      font-weight: 900;
      font-size: 35px;
      color: #fff;
    }
  }
  @media screen and (min-width: 1280px) {
    .btn-menu {
      display: none;
    }
  }
  .btn-lang-web {
    display: none;
  }
  @media screen and (min-width: 1280px) {
    .btn-lang-web {
      display: block;
      .lang-icon {
        color: #fff;
        font-size: 2.083vw;
        font-weight: 300;
      }
    }
  }
  .btn-login-web {
    display: none;
  }
  @media screen and (min-width: 1280px) {
    .btn-login-web {
      display: block;
    }
    .material-symbols-outlined {
      font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 24;
      color: $white;
      font-size: 2.083vw;
    }

    // .icon-login {
    //   color: $white;
    //   font-size: 32px;
    // }
  }
  // gnb
  #gnb {
    display: none;
    // background: url(../../images/main/sidebar_mob.png) no-repeat 50% 0;
    // background-size: 360px auto;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: #222;
    overflow-y: scroll;
  }
  .top {
    height: 60px;
    padding: 13px 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .menu {
      position: relative;
      display: flex;
      align-items: center;
      gap: 19px;
      width: 76px;
    }
    .lang-items {
      width: 30px;
    }
    .lang-icon {
      color: #fff;
      font-size: 32px;
      font-weight: 300;
    }
    .select-lang {
      display: none;
      position: absolute;
      top: 40px;
      left: -22px;
      text-align: center;
      @include mob-bd(14px);

      .ko,
      .en {
        display: block;
        width: 76px;
        height: 41px;
        padding: 10px;
        background-color: #fff;
      }

      .ko {
        border-radius: 10px 10px 0 0;
        color: $white;
        background-color: $point;
      }

      .en {
        border-radius: 0 0 10px 10px;
        color: $txtCont;
        font-family: $font-family-enNum;
      }
    }
    .close::before {
      content: "\f00d";
      font-family: "Line Awesome Free";
      font-weight: 900;
      font-size: 30px;
      color: #fff;
    }
  }
  .inner-items {
    display: flex;
    justify-content: center;
    height: 84px;
    padding: 12px 20px;
    background: rgba(51, 51, 51, 0.5);
    margin-top: 20px;

    .icons {
      display: flex;
      gap: 40px;
      width: 236px;
    }
    .my-page-icon,
    .sponsor-icon,
    .faq-icon {
      width: 52px;
      @include mob_bd(12px, $white);
      text-align: center;
    }
    .my-page-icon::before {
      display: block;
      content: url(../../images/comm/my-page.png);
    }
    .sponsor-icon::before {
      display: block;
      content: url(../../images/comm/sponsorship.png);
    }
    .faq-icon::before {
      display: block;
      content: url(../../images/comm/faq.png);
    }
  }
  .depth1 {
    width: 100%;
    height: 282px;
    margin-top: 60px;
    text-align: center;

    .wrapper-dep1 {
      height: 47px;
    }
    .li-dep1 {
      display: flex;
      justify-content: flex-end;
      padding: 12px 54px;
      @include mob-bd(16px, $white);
      .oncenter-dep1 {
        width: 173px;
      }
    }
    .txt-dep1 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 166px;
      &:after {
        content: "\f107";
        font-family: "Line Awesome Free";
        font-weight: 900;
        font-size: 14px;
      }
    }
  }
  .depth2 {
    display: none;
    padding: 15px 0;
    background: rgba(51, 51, 51, 0.5);

    .wrapper-dep2 {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 38px;
    }
    .li-dep2 {
      @include mob-bd(14px);
    }
  }
  .dep2-oncenter {
    display: block;
  }
}
@media screen and (min-width: 1280px) {
  #header {
    height: 100px;
    padding: 35px 23px 0;
  }
}
// main
#main {
  flex-grow: 1;
  .sect {
    height: 100vh;
  }
}
// footer
#footer {
  // background: url(../../images/main/mobile-ver2-foooter.png) no-repeat 50% 0 /
  //   cover;
  height: $ftH;
  padding: 60px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  z-index: -1;
  .logo {
    &:before {
      content: "";
      background: url(../../images/comm/logo-blue-mob.png) no-repeat 0 0 / 45%;
      display: block;
      height: 45px;
    }
    @media screen and (min-width: 1280px) {
      &:before {
        width: 16.406vw;
        height: 5vw;
        background-size: 100%;
        transform: translateY(15%);
      }
    }
  }
  .info {
    margin-top: 11px;
  }
  @media screen and (min-width: 1280px) {
    .info {
      display: flex;
      flex-wrap: wrap;
      width: 45.625vw;
    }
  }
  .item {
    @include mob-bd(12px, #999);
    display: block;
    height: 16px;
    word-break: keep-all;
    margin-bottom: 2px;
    margin-right: 10px;
  }
  @media screen and (min-width: 1280px) {
    .item {
      @include web-bd(16px, $gray-700);
      font-weight: 400;
    }
  }
  .terms {
    @include mob-bd(12px, $txtCont);
  }
  @media screen and (min-width: 1280px) {
    .terms {
      @include web-bd(16px, $gray-700);
      font-weight: 400;
    }
  }
  .bw-bar {
    &:after {
      content: " |";
    }
  }
  .sns {
    display: flex;
  }
  @media screen and (min-width: 1280px) {
    .sns {
      gap: 10px;
    }
  }
  .link {
    display: block;
    width: 40px;
    height: 50px;
    padding: 10px 5px;
  }
  .link_twitter {
    &:before {
      @include footerIconBefore;
      background: url(../../images/comm/twitter-icon.png) no-repeat 50% 0 /
        cover;
    }
    @media screen and (min-width: 1280px) {
      &:before {
        @include footerIconBeforeWeb;
      }
    }
  }
  .link_facebook {
    &:before {
      @include footerIconBefore;
      background: url(../../images/comm/facebook-icon.png) no-repeat 50% 0 /
        cover;
    }
    @media screen and (min-width: 1280px) {
      &:before {
        @include footerIconBeforeWeb;
      }
    }
  }
  .link_instagram {
    &:before {
      @include footerIconBefore;
      background: url(../../images/comm/insta-icon.png) no-repeat 50% 0 / cover;
    }
    @media screen and (min-width: 1280px) {
      &:before {
        @include footerIconBeforeWeb;
      }
    }
  }
  .link_youtube {
    &:before {
      @include footerIconBefore;
      background: url(../../images/comm/youtube-icon.png) no-repeat 50% 0 /
        cover;
    }
    @media screen and (min-width: 1280px) {
      &:before {
        @include footerIconBeforeWeb;
      }
    }
  }
  .copyright {
    @include mob-tit(12px, #999);
    margin-top: 10px;
  }
  @media screen and (min-width: 1280px) {
    .copyright {
      display: none;
    }
  }
  .copyright-web {
    display: none;
  }
  @media screen and (min-width: 1280px) {
    .copyright-web {
      display: block;
      @include web-bd(16px, $gray-700);
      font-weight: 400;
    }
  }
  @media screen and (min-width: 1280px) {
    .content-wrap {
      display: flex;
      flex-direction: column;
      margin-left: 5.468vw;
      gap: 2px;
    }
  }
}
@media screen and (min-width: 1280px) {
  #footer {
    padding: 9.062vw 9.895vw 8.593vw 8.593vw;
    flex-direction: row;
    align-items: center;
  }
}
// search-layer
.search-layer {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  // display: block;
  // background: url(../../images/main/search_mob.png) no-repeat 50% 0 / cover;
  // background-size: 360px auto;
  z-index: 1000;
  background-color: $bgcBk;
  .layer-head {
    padding: 17px 20px 0;
  }
  #logo {
    &:before {
      display: block;
      height: 30px;
      width: 110px;
      margin-top: 4px;
      content: "";
      background: url(../../images/comm/logo-white-mob.png) no-repeat 0 0 /
        cover;
    }
  }
  .layer-body {
    margin-top: 70px;
  }
  .area-search {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 319px;
    padding: 72px 0px;
  }
  .content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: space-between;
    gap: 70px;
    width: 320px;
  }
  .search {
    width: 100%;
    height: 45px;
    margin-top: 10px;
    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 10px;
      left: 33px;
      width: 257px;
      height: 45px;
      background: url(../../images/comm/search.png) no-repeat 0 0 /100%;
    }
    &:before {
      position: absolute;
      top: 10px;
      left: 45px;
      content: "\f002";
      font-family: "Line Awesome Free";
      font-weight: 900;
      font-size: 30px;
      color: $primary;
      transform: rotate(270deg);
      z-index: 10;
    }
  }
  #inpSearch {
    display: block;
    position: absolute;
    top: 10px;
    left: 33px;
    width: 253px;
    height: 45px;
    border-radius: 33px;
    border: 1px solid $white;
    background: $white;
    z-index: 1;
    // opacity: 0;
  }
  .tag {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 6px;
  }
  .link-tag {
    display: block;
    background: $secondary;
    border-radius: 33px;
    padding: 8px 30px;
    @include mob-bd(13px, $white);
  }
  .btn-close {
    position: absolute;
    top: 21px;
    right: 17px;
    &:before {
      content: "\f00d";
      font-family: "Line Awesome Free";
      font-weight: 900;
      font-size: 30px;
      color: #fff;
    }
  }
}

/* -------------------------bg 참고------------------------------ */
body {
  z-index: -100;
  // background: url(../../images/main/main_mob_opa.png) no-repeat 50% 0;
  // background-size: 360px auto;
}

@import "main", "sub1_mission_vision_page", "sub2_donation_page";
