@charset "UTF-8";
:root {
  --swiper-theme-color: #ffffff !important;
  --swiper-pagination-color: #ffffff;
}

/* reset */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
button,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

fieldset,
img {
  border: 0 none;
}

dl,
ul,
ol,
menu,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

input,
select,
textarea {
  font-size: 100%;
  vertical-align: middle;
}

button {
  font-size: 100%;
  vertical-align: middle;
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

/* 뷰표트 변환시 폰트크기 자동확대 방지 */
input[type=text], input[type=password], input[type=submit], input[type=search] {
  -webkit-appearance: none;
  border-radius: 0;
}
input:checked[type=checkbox] {
  background-color: #666;
  -webkit-appearance: checkbox;
}

button {
  -webkit-appearance: button;
  border-radius: 0;
}

input[type=button], input[type=submit], input[type=reset], input[type=file] {
  -webkit-appearance: button;
  border-radius: 0;
}
input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* 기본 폰트 설정 */
/* mobile */
body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  color: #222222;
}

/* desktop */
@media screen and (min-width: 1280px) {
  body {
    font-size: 16px;
  }
}
/* color값은 디자인가이드에 맞게사용 */
a {
  color: #333;
  text-decoration: none;
}
a:active, a:hover {
  text-decoration: none;
}

address,
caption,
cite,
code,
dfn,
em,
var {
  font-style: normal;
  font-weight: normal;
}

hr {
  display: none;
}

input[type=password] {
  font-family: "Malgun Gothic";
}

/* 웹폰트 사용시 점이 안보임 - 기본 폰트 사용  */
/* skipnavigation */
#u-skip {
  position: relative;
  z-index: 3000;
}
#u-skip a {
  position: absolute;
  top: -35px;
  left: 0;
  right: 0;
  display: inline-block;
  padding: 7px 10px 5px;
  background: #333;
  color: #fff;
  text-decoration: none;
  text-align: center;
  opacity: 0;
}
#u-skip a:focus {
  top: 0;
  opacity: 1;
  z-index: 1000;
}

/* 이미지 스프라이트 */
.img-g {
  display: inline-block;
  overflow: hidden;
  background: url(../../images/comm/img-comm.png) no-repeat;
  vertical-align: top;
}

/* 이미지 */
/* global */
.ir-pm {
  display: block;
  overflow: hidden;
  font-size: 0px;
  line-height: 0;
  text-indent: -9999px;
}

/* 사용된 이미지내 의미있는 텍스트의 대체텍스트를 제공할때 */
.ir-wa {
  display: block;
  overflow: hidden;
  position: relative;
  z-index: -10;
  width: 100%;
  height: 100%;
}

/* 중요한 이미지 대체텍스트로 이미지off시에도 대체 텍스트를 보여주고자 할때 */
.blind,
caption,
legend {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
}

/* 대체텍스트가 아닌 접근성을 위한 숨김텍스트를 제공할때 */
.f_l {
  float: left;
}

.f_r {
  float: right;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.tbl {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 테이블 초기화 */
.clearfix {
  display: block;
  overflow: visible;
  width: auto;
  clear: both;
  zoom: 1;
}
.clearfix:after {
  display: block;
  visibility: hidden;
  height: 0;
  font-size: 0;
  clear: both;
  content: "";
}

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(https://example.com/MaterialIcons-Regular.woff2) format("woff2"), url(https://example.com/MaterialIcons-Regular.woff) format("woff"), url(https://example.com/MaterialIcons-Regular.ttf) format("truetype");
}
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: "liga";
}

.swiper .swiper-button-next {
  width: 40px;
  height: 40px;
  margin: 198px 251px 0 0;
}
.swiper .swiper-button-next:after {
  display: block;
  content: "\f105";
  font-family: "Line Awesome Free";
  font-weight: 900;
  font-size: 18px;
  color: #ffffff;
}
.swiper .swiper-button-prev {
  width: 40px;
  height: 40px;
  margin: 198px 0 0 12px;
}
.swiper .swiper-button-prev:after {
  display: block;
  content: "\f104";
  font-family: "Line Awesome Free";
  font-weight: 900;
  font-size: 18px;
  color: #ffffff;
}
.swiper .swiper-button-next.swiper-button-disabled,
.swiper .swiper-button-prev.swiper-button-disabled {
  opacity: 1;
}

.btn-sign {
  display: block;
  height: 44px;
  width: 139px;
  border-radius: 10px;
  background-color: #f76a00;
}
.btn-sign .txt-btn-sign {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.42px;
  color: #ffffff;
}

.wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  padding: 17px 20px 0;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
#header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .logo {
  height: 30px;
}
#header .logo img {
  display: block;
}
#header .nav {
  display: flex;
  gap: 16px;
  width: 77px;
}
#header .btn-search {
  transform: rotate(270deg);
}
#header .btn-search::before {
  content: "\f002";
  font-family: "Line Awesome Free";
  font-weight: 900;
  font-size: 30px;
  color: #fff;
}
#header .btn-menu {
  width: 35px;
  height: 36px;
}
#header .btn-menu::before {
  content: "\f0c9";
  font-family: "Line Awesome Free";
  font-weight: 900;
  font-size: 35px;
  color: #fff;
}
#header #gnb {
  display: none;
  background: url(../../images/main/sidebar_mob.png) no-repeat 50% 0;
  background-size: 360px auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: #222;
}
#header .top {
  height: 60px;
  padding: 13px 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .top .menu {
  position: relative;
  display: flex;
  align-items: center;
  gap: 19px;
  width: 76px;
}
#header .top .lang-items {
  width: 30px;
}
#header .top .lang-icon {
  color: #fff;
  font-size: 32px;
  font-weight: 300;
}
#header .top .select-lang {
  display: none;
  position: absolute;
  top: 40px;
  left: -22px;
  text-align: center;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.42px;
  color: #666666;
}
#header .top .select-lang .ko,
#header .top .select-lang .en {
  display: block;
  width: 76px;
  height: 41px;
  padding: 10px;
  background-color: #fff;
}
#header .top .select-lang .ko {
  border-radius: 10px 10px 0 0;
  color: #ffffff;
  background-color: #0f6dcd;
}
#header .top .select-lang .en {
  border-radius: 0 0 10px 10px;
  color: #666666;
  font-family: "Roboto", sans-serif;
}
#header .top .close::before {
  content: "\f00d";
  font-family: "Line Awesome Free";
  font-weight: 900;
  font-size: 30px;
  color: #fff;
}
#header .inner-items {
  display: flex;
  justify-content: center;
  height: 84px;
  padding: 12px 20px;
  background: rgba(51, 51, 51, 0.5);
  margin-top: 20px;
}
#header .inner-items .icons {
  display: flex;
  gap: 40px;
  width: 236px;
}
#header .inner-items .my-page-icon,
#header .inner-items .sponsor-icon,
#header .inner-items .faq-icon {
  width: 52px;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: -0.36px;
  color: #ffffff;
  text-align: center;
}
#header .inner-items .my-page-icon::before {
  display: block;
  content: url(../../images/comm/my-page.png);
}
#header .inner-items .sponsor-icon::before {
  display: block;
  content: url(../../images/comm/sponsorship.png);
}
#header .inner-items .faq-icon::before {
  display: block;
  content: url(../../images/comm/faq.png);
}
#header .depth1 {
  width: 100%;
  height: 282px;
  margin-top: 60px;
  text-align: center;
}
#header .depth1 .container-dep1 {
  height: 47px;
}
#header .depth1 .li-dep1 {
  display: flex;
  justify-content: flex-end;
  padding: 12px 28px;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.48px;
  color: #ffffff;
}
#header .depth1 .li-dep1 .oncenter {
  width: 173px;
}
#header .depth1 .txt-dep1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 166px;
}
#header .depth1 .txt-dep1:after {
  content: "\f107";
  font-family: "Line Awesome Free";
  font-weight: 900;
  font-size: 14px;
}
#header .depth2 {
  display: none;
  padding: 15px 0;
  background: rgba(51, 51, 51, 0.5);
}
#header .depth2 .container-dep2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
}
#header .depth2 .li-dep2 {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.42px;
  color: #666666;
}
#header .dep2-oncenter {
  display: block;
}

#main {
  flex-grow: 1;
}
#main .sect {
  height: 100vh;
  display: block;
}

#footer {
  height: 440px;
  padding: 60px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
#footer .logo:before {
  content: "";
  background: url(../../images/comm/logo-blue-mob.png) no-repeat 0 0/45%;
  display: block;
  height: 45px;
}
#footer .info {
  margin-top: 11px;
}
#footer .item {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: -0.36px;
  color: #999;
  display: block;
  height: 16px;
  word-break: keep-all;
  margin-bottom: 2px;
}
#footer .terms {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: -0.36px;
  color: #666666;
}
#footer .bw-bar:after {
  content: " |";
}
#footer .sns {
  display: flex;
}
#footer .link {
  display: block;
  width: 40px;
  height: 50px;
  padding: 10px 5px;
}
#footer .link_twitter:before {
  display: block;
  width: 30px;
  height: 30px;
  content: "";
  background: url(../../images/comm/twitter-icon.png) no-repeat 50% 0/cover;
}
#footer .link_twitter:before {
  display: block;
  width: 30px;
  height: 30px;
  content: "";
  background: url(../../images/comm/twitter-icon.png) no-repeat 50% 0/cover;
}
#footer .link_facebook:before {
  display: block;
  width: 30px;
  height: 30px;
  content: "";
  background: url(../../images/comm/facebook-icon.png) no-repeat 50% 0/cover;
}
#footer .link_instagram:before {
  display: block;
  width: 30px;
  height: 30px;
  content: "";
  background: url(../../images/comm/insta-icon.png) no-repeat 50% 0/cover;
}
#footer .link_youtube:before {
  display: block;
  width: 30px;
  height: 30px;
  content: "";
  background: url(../../images/comm/youtube-icon.png) no-repeat 50% 0/cover;
}
#footer .copyright {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 15.6px;
  letter-spacing: -0.5px;
  padding: 0;
  margin: 0;
  color: #999;
  margin-top: 10px;
}

/* -------------------------bg 참고------------------------------ */
body {
  z-index: -100;
}

.main-visual {
  height: 100vh;
}
.main-visual .horse {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.35) 100%), url(../../images/main/sect1-main-visual/horse.png) no-repeat 55% 50%/cover;
}
.main-visual .chicken {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.35) 100%), url(../../images/main/sect1-main-visual/chicken.png) no-repeat 50% 50%/cover;
}
.main-visual .dog {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.35) 100%), url(../../images/main/sect1-main-visual/dog.png) no-repeat 50% 50%/cover;
}
.main-visual .container {
  display: flex;
  flex-direction: column;
  height: 250px;
  margin-left: 20px;
  margin-top: 66px;
}
@media screen and (min-width: 768px) {
  .main-visual .container {
    margin-left: 16.6667vw;
  }
}
.main-visual .txt {
  display: flex;
  flex-direction: column;
  gap: 17px;
  padding: 26px 0 24px;
}
.main-visual .sub-tit {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.42px;
  color: #ffffff;
}
.main-visual .tit {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 41.6px;
  letter-spacing: -0.5px;
  padding: 0;
  margin: 0;
  color: #ffffff;
  font-weight: 800;
  display: block;
}
.main-visual .tit .color-pr {
  color: #f76a00;
}
.main-visual .contents {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.48px;
  color: #ffffff;
  font-weight: 300;
  line-height: normal;
}

.main-activities {
  background-color: #fff;
  padding: 86px 20px 42px;
}
.main-activities .tit {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  letter-spacing: -0.5px;
  padding: 0;
  margin: 0;
  color: #222222;
}
.main-activities .swiper-main-activities {
  height: 163px;
  margin-top: 45px;
}
.main-activities .swiper-main-activities .swiper-slide {
  border-radius: 10px;
  width: 316px;
}
.main-activities .swiper-main-activities .container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.main-activities .swiper-main-activities .container .txt {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 18.2px;
  letter-spacing: -0.5px;
  padding: 0;
  margin: 0;
  color: #ffffff;
  text-align: center;
}
.main-activities .thumb-tit {
  height: 58px;
}
.main-activities .thumb-tit .tit {
  display: flex;
  align-items: flex-end;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20.8px;
  letter-spacing: -0.5px;
  padding: 0;
  margin: 0;
  color: #f76a00;
}
.main-activities .law-policy {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%), url(../../images/main/sect2-main-activities/01-lawPolicy.jpg) no-repeat 50% 50%/cover;
}
.main-activities .companion-animal {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%), url(../../images/main/sect2-main-activities/02-dog.png) no-repeat 50% 50%/cover;
}
.main-activities .farm-animal {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%), url(../../images/main/sect2-main-activities/03-farm.png) no-repeat 50% 30%/cover;
}
.main-activities .animal-experiment {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%), url(../../images/main/sect2-main-activities/04-experiment.png) no-repeat 50% 50%/cover;
}
.main-activities .exhibition-animal {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%), url(../../images/main/sect2-main-activities/05-exhibition.png) no-repeat 50% 50%/cover;
}
.main-activities .street-cat {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%), url(../../images/main/sect2-main-activities/06-cat.png) no-repeat 50% 50%/cover;
}

.oncenter {
  height: 120vh !important;
  padding: 169px 20px 60px;
  background: url(../../images/main/sect3-oncenter/bg-deco-mob.png) no-repeat 0 0;
}
.oncenter .txt {
  margin-top: -3px;
}
.oncenter .tit {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  letter-spacing: -0.5px;
  padding: 0;
  margin: 0;
  color: #222222;
}
.oncenter .content {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.42px;
  color: #222222;
  line-height: 32px;
}
.oncenter .img-list {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  width: 322px;
  height: 305px;
  padding-top: 50px;
}
.oncenter .img {
  width: 155px;
  height: 146px;
  border: 1px solid #dddddd;
  border-radius: 10px;
}
.oncenter .dog {
  background: url(../../images/main/sect3-oncenter/01-dog.png) no-repeat 50% 50%/142%;
  transition: all 0.8s ease-in-out 0.1s;
}
.oncenter .dog:hover {
  background-size: 180%;
}
.oncenter .oncat-info {
  background: url(../../images/main/sect3-oncenter/02-oncat-info.png) no-repeat 40% 50%/130%;
  transition: all 0.8s ease-in-out 0.1s;
}
.oncenter .oncat-info:hover {
  background-size: 160%;
}
.oncenter .ondog-info {
  background: url(../../images/main/sect3-oncenter/03-ondog-info.png) no-repeat 40% 50%/130%;
  transition: all 0.8s ease-in-out 0.1s;
}
.oncenter .ondog-info:hover {
  background-size: 160%;
}
.oncenter .cat {
  background: url(../../images/main/sect3-oncenter/04-cat.png) no-repeat 50% 50%/158%;
  transition: all 0.8s ease-in-out 0.1s;
}
.oncenter .cat:hover {
  background-size: 190%;
}

.oncenter-info {
  padding: 120px 20px;
  background-color: #222222;
}
.oncenter-info .tit {
  display: block;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: -0.5px;
  padding: 0;
  margin: 0;
  color: #ffffff;
  padding-top: 10px;
  padding-right: 18px;
}
.oncenter-info .content {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.42px;
  color: #ffffff;
  opacity: 0.8;
}
.oncenter-info .container {
  position: relative;
}
.oncenter-info .container:before {
  position: absolute;
  top: 0;
  left: -182px;
  display: block;
  width: 252px;
  height: 280px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  z-index: 0;
  content: "";
}
.oncenter-info .rescue {
  display: flex;
  padding: 3px 0;
}
.oncenter-info .rescue:before {
  background: url(../../images/main/sect4-oncenter-info/01-rescue.png) no-repeat 0 0/cover;
  display: block;
  width: 40px;
  height: 40px;
  margin-right: 16px;
  content: "";
  background-color: #f76a00;
  border-radius: 40px;
  z-index: 1;
}
.oncenter-info .affiliate {
  display: flex;
  padding: 33px 0 0 49px;
}
.oncenter-info .affiliate:before {
  background: url(../../images/main/sect4-oncenter-info/02-affiliate.png) no-repeat 0 0/cover;
  display: block;
  width: 40px;
  height: 40px;
  margin-right: 16px;
  content: "";
  background-color: #f76a00;
  border-radius: 40px;
  z-index: 1;
}
.oncenter-info .protect {
  display: flex;
  padding: 35px 0 0 49px;
}
.oncenter-info .protect:before {
  background: url(../../images/main/sect4-oncenter-info/03-protect.png) no-repeat 0 0/cover;
  display: block;
  width: 40px;
  height: 40px;
  margin-right: 16px;
  content: "";
  background-color: #f76a00;
  border-radius: 40px;
  z-index: 1;
}
.oncenter-info .adopt {
  display: flex;
  padding: 38px 0;
}
.oncenter-info .adopt:before {
  background: url(../../images/main/sect4-oncenter-info/04-adopt.png) no-repeat 0 0/cover;
  display: block;
  width: 40px;
  height: 40px;
  margin-right: 16px;
  content: "";
  background-color: #f76a00;
  border-radius: 40px;
  z-index: 1;
}

.campaign {
  padding: 60px 20px;
  background-color: #222222;
}
.campaign .container {
  position: relative;
}
.campaign .container .bg-deco {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 500px;
  background: url(../../images/main/sect5-campaign/bg-deco-mob.png) no-repeat 50% 50%/40%, #222222;
  background-blend-mode: color-dodge;
  background-attachment: fixed;
}
.campaign .container .txt-style {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 80px 0;
}
.campaign .container .txt-style .tit {
  background: url(../../images/main/sect5-campaign/CAMPAIGN-tit-mob.png) no-repeat 50% 0/86%;
  height: 220px;
}
.campaign .container .txt-style .below-1 {
  display: block;
  position: absolute;
  top: 228px;
  left: 0;
  width: 100%;
  height: 200px;
  background: url(../../images/main/sect5-campaign/CAMPAIGN-1-mob.png) no-repeat 50% 0/100%;
}
.campaign .container .txt-style .below-2 {
  display: block;
  position: absolute;
  top: 271px;
  left: 0;
  width: 100%;
  height: 200px;
  background: url(../../images/main/sect5-campaign/CAMPAIGN-2-mob.png) no-repeat 50% 0/100%;
}
.campaign .container .txt-style .below-3 {
  display: block;
  position: absolute;
  top: 314px;
  left: 0;
  width: 100%;
  height: 200px;
  background: url(../../images/main/sect5-campaign/CAMPAIGN-3-mob.png) no-repeat 50% 0/100%;
}
.campaign .carousel-campaign {
  height: 480px;
  margin-top: 326px;
  border: 1px solid rgba(158, 158, 158, 0.1);
  border-radius: 10px;
}
.campaign .carousel-campaign .txt {
  margin-top: 81px;
  text-align: center;
}
.campaign .carousel-campaign .txt:after {
  display: block;
  margin-left: 137px;
  margin-top: 20px;
  width: 45px;
  height: 15px;
  content: "";
  background: url(../../images/main/sect5-campaign/arrow.png) no-repeat 0 0/80%;
}
.campaign .carousel-campaign .sub-tit,
.campaign .carousel-campaign .tit {
  display: block;
}
.campaign .carousel-campaign .sub-tit {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: -0.36px;
  color: #ffffff;
}
.campaign .carousel-campaign .tit {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 33.8px;
  letter-spacing: -0.5px;
  padding: 0;
  margin: 0;
  color: #ffffff;
  margin-top: 7px;
}
.campaign .carousel-campaign .content {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.42px;
  color: #ffffff;
  margin-top: 7px;
}
.campaign .pig {
  display: block;
  width: 320px;
  border-radius: 10px;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.5) 100%), url(../../images/main/sect5-campaign/01-pig-on.png) no-repeat 50% 50%/115%;
  transition: all 0.8s ease-in-out 0.1s;
}
.campaign .pig:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.5) 100%), url(../../images/main/sect5-campaign/01-pig-on.png) no-repeat 50% 50%/120%;
}
.campaign .egg {
  display: block;
  width: 320px;
  border-radius: 10px;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.5) 100%), url(../../images/main/sect5-campaign/02-egg-on.jpg) no-repeat 50% 50%/105%;
  transition: all 0.8s ease-in-out 0.1s;
}
.campaign .egg:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.5) 100%), url(../../images/main/sect5-campaign/02-egg-on.jpg) no-repeat 50% 50%/110%;
}
.campaign .bear {
  display: block;
  width: 320px;
  border-radius: 10px;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.5) 100%), url(../../images/main/sect5-campaign/03-bear.jpg) no-repeat 50% 50%/280%;
  transition: all 0.8s ease-in-out 0.1s;
}
.campaign .bear:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.5) 100%), url(../../images/main/sect5-campaign/03-bear.jpg) no-repeat 50% 50%/300%;
}
.campaign .dog {
  display: block;
  width: 320px;
  border-radius: 10px;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.5) 100%), url(../../images/main/sect5-campaign/04-dog.jpg) no-repeat 60% 50%/220%;
  transition: all 0.8s ease-in-out 0.1s;
}
.campaign .dog:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.5) 100%), url(../../images/main/sect5-campaign/04-dog.jpg) no-repeat 60% 50%/230%;
}
.campaign .mcdonald {
  display: block;
  width: 320px;
  border-radius: 10px;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.5) 100%), url(../../images/main/sect5-campaign/05-mcdonald.jpeg) no-repeat 10% 50%/250%;
  transition: all 0.8s ease-in-out 0.1s;
}
.campaign .mcdonald:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.5) 100%), url(../../images/main/sect5-campaign/05-mcdonald.jpeg) no-repeat 10% 50%/270%;
}
.campaign .swiper-pagination-bullet {
  opacity: 0.3;
  background: #ffffff;
}
.campaign .swiper-pagination-bullet-active {
  opacity: 1;
}

.notice {
  padding: 60px 20px;
}
.notice .container {
  position: relative;
}
.notice .tit-notice {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  letter-spacing: -0.5px;
  padding: 0;
  margin: 0;
  color: #222222;
  text-align: center;
}
.notice .list-notice {
  padding-top: 31px;
}
.notice .list {
  height: 98px;
  word-break: keep-all;
  border-top: 1px solid #eee;
}
.notice .border-bm {
  border-bottom: 1px solid #eee;
}
.notice .list-1,
.notice .list-2,
.notice .list-3,
.notice .list-4,
.notice .list-5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  margin-left: 21px;
}
.notice .tit {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 18.2px;
  letter-spacing: -0.5px;
  padding: 0;
  margin: 0;
  color: #222222;
  display: flex;
  align-items: center;
  height: 44px;
  width: 279px;
}
.notice .date {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.42px;
  color: #8e8e8e;
  display: block;
  height: 21px;
}
.notice .btn-more {
  position: absolute;
  top: 34px;
  right: 0;
  width: 40px;
  height: 20px;
}
.notice .btn-more:before {
  content: "";
  background: url(../../images/comm/Vector.png) no-repeat 50% 0/100%;
  display: block;
  height: 100%;
}

.subscribe {
  position: relative;
  background-size: 360px auto;
  background-color: #ad5700;
  padding: 70px 20px 60px;
}
.subscribe:after {
  content: "";
  background: url(../../images/main/sect7-newsletter/bg-deco.png) no-repeat 50% 0/cover;
  height: 50px;
  width: 100%;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 1px;
}
.subscribe .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 17px;
}
.subscribe .tit {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  letter-spacing: -0.5px;
  padding: 0;
  margin: 0;
  color: #ffffff;
  letter-spacing: normal;
}
.subscribe .content {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.48px;
  color: rgba(255, 255, 255, 0.7);
  line-height: 24px;
  padding-top: 10px;
  letter-spacing: normal;
  text-align: center;
}
.subscribe .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 184px;
  height: 41px;
  padding: 10px 45px;
  border-radius: 10px;
  background-color: #ff862b;
  z-index: 1;
}
.subscribe .btn .txt-btn {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.42px;
  color: #ffffff;
}

.donation {
  padding: 60px 20px;
}
.donation .container {
  display: flex;
  flex-direction: column;
  gap: 54px;
  padding-top: 3px;
}
.donation .regular-donation,
.donation .associated-donation {
  display: flex;
  width: 100%;
  gap: 19px;
}
.donation .txt {
  width: 162px;
  word-break: keep-all;
}
.donation .tit {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 33.8px;
  letter-spacing: -0.5px;
  padding: 0;
  margin: 0;
  color: #222222;
  letter-spacing: normal;
  line-height: 39px;
}
.donation .content {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.42px;
  color: #666666;
  margin-top: 9px;
  letter-spacing: normal;
}
.donation .btn-rd,
.donation .btn-ad {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 139px;
  height: 41px;
  padding: 10px 45px;
  flex-grow: 1;
  border-radius: 10px;
  background-color: #ff862b;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.42px;
  color: #ffffff;
  margin-top: 22px;
}
.donation .btn-rd {
  margin-top: 33px;
}/*# sourceMappingURL=comm.css.map */