@charset "UTF-8";
:host {
  --swiper-theme-color: yellow;
}

/* reset */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
button,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

fieldset,
img {
  border: 0 none;
}

dl,
ul,
ol,
menu,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

input,
select,
textarea {
  font-size: 100%;
  vertical-align: middle;
}

button {
  font-size: 100%;
  vertical-align: middle;
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

/* 뷰표트 변환시 폰트크기 자동확대 방지 */
input[type=text], input[type=password], input[type=submit], input[type=search] {
  -webkit-appearance: none;
  border-radius: 0;
}
input:checked[type=checkbox] {
  background-color: #666;
  -webkit-appearance: checkbox;
}

button {
  -webkit-appearance: button;
  border-radius: 0;
}

input[type=button], input[type=submit], input[type=reset], input[type=file] {
  -webkit-appearance: button;
  border-radius: 0;
}
input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* 기본 폰트 설정 */
/* mobile */
body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  color: #222222;
}

/* desktop */
@media screen and (min-width: 1280px) {
  body {
    font-size: 16px;
  }
}
/* color값은 디자인가이드에 맞게사용 */
a {
  color: #333;
  text-decoration: none;
}
a:active, a:hover {
  text-decoration: none;
}

address,
caption,
cite,
code,
dfn,
em,
var {
  font-style: normal;
  font-weight: normal;
}

hr {
  display: none;
}

input[type=password] {
  font-family: "Malgun Gothic";
}

/* 웹폰트 사용시 점이 안보임 - 기본 폰트 사용  */
/* skipnavigation */
#u-skip {
  position: relative;
  z-index: 3000;
}
#u-skip a {
  position: absolute;
  top: -35px;
  left: 0;
  right: 0;
  display: inline-block;
  padding: 7px 10px 5px;
  background: #333;
  color: #fff;
  text-decoration: none;
  text-align: center;
  opacity: 0;
}
#u-skip a:focus {
  top: 0;
  opacity: 1;
  z-index: 1000;
}

/* 이미지 스프라이트 */
.img-g {
  display: inline-block;
  overflow: hidden;
  background: url(../../images/comm/img-comm.png) no-repeat;
  vertical-align: top;
}

/* 이미지 */
/* global */
.ir-pm {
  display: block;
  overflow: hidden;
  font-size: 0px;
  line-height: 0;
  text-indent: -9999px;
}

/* 사용된 이미지내 의미있는 텍스트의 대체텍스트를 제공할때 */
.ir-wa {
  display: block;
  overflow: hidden;
  position: relative;
  z-index: -10;
  width: 100%;
  height: 100%;
}

/* 중요한 이미지 대체텍스트로 이미지off시에도 대체 텍스트를 보여주고자 할때 */
.blind,
caption,
legend {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
}

/* 대체텍스트가 아닌 접근성을 위한 숨김텍스트를 제공할때 */
.f_l {
  float: left;
}

.f_r {
  float: right;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.tbl {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 테이블 초기화 */
.clearfix {
  display: block;
  overflow: visible;
  width: auto;
  clear: both;
  zoom: 1;
}
.clearfix:after {
  display: block;
  visibility: hidden;
  height: 0;
  font-size: 0;
  clear: both;
  content: "";
}

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(https://example.com/MaterialIcons-Regular.woff2) format("woff2"), url(https://example.com/MaterialIcons-Regular.woff) format("woff"), url(https://example.com/MaterialIcons-Regular.ttf) format("truetype");
}
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: "liga";
}

.swiper {
  height: 100vh;
}
.swiper .swiper-button-next,
.swiper .swiper-button-prev {
  background: yellow;
}
.swiper .swiper-button-next svg,
.swiper .swiper-button-prev svg {
  background: yellow;
}

.btn-sign {
  display: block;
  height: 44px;
  width: 139px;
  border-radius: 10px;
  background-color: #f76a00;
}
.btn-sign .txt-btn-sign {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0%;
  color: #ffffff;
}

.wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

#header {
  position: fixed;
  width: 360px;
  height: 60px;
  padding: 17px 20px 0;
}
#header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .logo {
  height: 30px;
}
#header .logo img {
  display: block;
}
#header .nav {
  display: flex;
  gap: 16px;
  width: 77px;
}
#header .btn-search {
  transform: rotate(270deg);
}
#header .btn-search::before {
  content: "\f002";
  font-family: "Line Awesome Free";
  font-weight: 900;
  font-size: 30px;
  color: #fff;
}
#header .btn-menu {
  width: 35px;
  height: 36px;
}
#header .btn-menu::before {
  content: "\f0c9";
  font-family: "Line Awesome Free";
  font-weight: 900;
  font-size: 35px;
  color: #fff;
}
#header #gnb {
  display: none;
  background: url(../../images/main/sidebar_mob.png) no-repeat 50% 0;
  background-size: 360px auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: #222;
}
#header .top {
  height: 60px;
  padding: 13px 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .top .menu {
  position: relative;
  display: flex;
  align-items: center;
  gap: 19px;
  width: 76px;
}
#header .top .lang-items {
  width: 30px;
}
#header .top .lang-icon {
  color: #fff;
  font-size: 32px;
  font-weight: 300;
}
#header .top .select-lang {
  display: none;
  position: absolute;
  top: 40px;
  left: -22px;
  text-align: center;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0%;
  color: #666666;
}
#header .top .select-lang .ko,
#header .top .select-lang .en {
  display: block;
  width: 76px;
  height: 41px;
  padding: 10px;
  background-color: #fff;
}
#header .top .select-lang .ko {
  border-radius: 10px 10px 0 0;
  color: #ffffff;
  background-color: #0f6dcd;
}
#header .top .select-lang .en {
  border-radius: 0 0 10px 10px;
  color: #666666;
  font-family: "Roboto", sans-serif;
}
#header .top .close::before {
  content: "\f00d";
  font-family: "Line Awesome Free";
  font-weight: 900;
  font-size: 30px;
  color: #fff;
}
#header .inner-items {
  display: flex;
  justify-content: center;
  height: 84px;
  padding: 12px 20px;
  background: rgba(51, 51, 51, 0.5);
  margin-top: 20px;
}
#header .inner-items .icons {
  display: flex;
  gap: 40px;
  width: 236px;
}
#header .inner-items .my-page-icon,
#header .inner-items .sponsor-icon,
#header .inner-items .faq-icon {
  width: 52px;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0%;
  color: #ffffff;
  text-align: center;
}
#header .inner-items .my-page-icon::before {
  display: block;
  content: url(../../images/comm/my-page.png);
}
#header .inner-items .sponsor-icon::before {
  display: block;
  content: url(../../images/comm/sponsorship.png);
}
#header .inner-items .faq-icon::before {
  display: block;
  content: url(../../images/comm/faq.png);
}
#header .depth1 {
  width: 100%;
  height: 282px;
  margin-top: 60px;
  text-align: center;
}
#header .depth1 .container-dep1 {
  height: 47px;
}
#header .depth1 .li-dep1 {
  display: flex;
  justify-content: flex-end;
  padding: 12px 28px;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0%;
  color: #ffffff;
}
#header .depth1 .li-dep1 .oncenter {
  width: 173px;
}
#header .depth1 .txt-dep1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 166px;
}
#header .depth1 .txt-dep1:after {
  content: "\f107";
  font-family: "Line Awesome Free";
  font-weight: 900;
  font-size: 14px;
}
#header .depth2 {
  display: none;
  padding: 15px 0;
  background: rgba(51, 51, 51, 0.5);
}
#header .depth2 .container-dep2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
}
#header .depth2 .li-dep2 {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0%;
  color: #666666;
}
#header .dep2-oncenter {
  display: block;
}

#main {
  flex-grow: 1;
}

#footer {
  height: 440px;
}

/* -------------------------bg 참고------------------------------ */
body {
  background: url(../../images/main/main_mob_opa.png) no-repeat 50% 0;
  background-size: 360px auto;
}

.sect {
  display: block;
}

.main-visual {
  height: 728px;
}
.main-visual .horse {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.35) 100%), cover;
}
.main-visual .chicken {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.35) 100%), url(../../images/main/sect1-main-visual/chicken.png) no-repeat 50% 50%/cover;
}
.main-visual .dog {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.35) 100%), url(../../images/main/sect1-main-visual/dog.png) no-repeat 50% 50%/cover;
}
.main-visual .container {
  display: flex;
  flex-direction: column;
  height: 250px;
  margin-left: 20px;
  margin-top: 66px;
}
.main-visual .txt {
  display: flex;
  flex-direction: column;
  gap: 17px;
  padding: 26px 0 24px;
}
.main-visual .sub-tit {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0%;
  color: #ffffff;
}
.main-visual .tit {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 41.6px;
  letter-spacing: -0.5px;
  letter-spacing: -1.28px;
  color: #ffffff;
  font-weight: 800;
  display: block;
}
.main-visual .tit .color-pr {
  color: #f76a00;
}
.main-visual .contents {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0%;
  color: #ffffff;
  font-weight: 300;
  line-height: normal;
}/*# sourceMappingURL=comm.css.map */